.nav-item > a,
.nav-item > a:focus,
.nav-item > a:active,
.nav-item > a:hover{
	color: red !important;
	display: block;
	background-color: transparent;
	padding: 10px 0 10px 0;
	text-decoration: none;
}

.nav-item:hover {
	background-color: #3a3e42;
}