.tempStatus {
    float: left;
    width: 500px;
    overflow: auto; 
    text-align: center;
}

.humidityStatus {
    float: right;
    width: 500px;
    overflow: auto; 
    text-align: center;
}

.trennStrich {
    color: white;
    font-weight: bold; 
}

table { 
    border-collapse: collapse; 
}

th { 
    width: 250px;
    text-align: center;
    font-weight: bold; 
    Color: white; 
} 

td { 
    width: 250px; 
    text-align:center; 
    border:1px solid red; 
    padding:5px 
} 
