.tempStatus {
    float: left;
    width: 500px;
    overflow: auto; 
    text-align: center;
}

.humidityStatus {
    float: right;
    width: 500px;
    overflow: auto; 
    text-align: center;
}

table { 
    border-collapse: collapse; 
    overflow-y:scroll;
    height:300px;
    display:block;
}

th { 
    width: 250px;
    text-align: center;
    font-weight: bold; 
    Color: white; 
    border-left: transparent;
	border-right: transparent;
    border-top: 1px solid red;
    border-bottom: transparent;
} 

td { 
    width: 250px; 
    text-align:center; 
    padding:5px;
    color: white; 
    border-left: transparent;
	border-right: transparent;
    border-top: 1px solid red;
    border-bottom: transparent;
} 
