* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #201f1f;
}
.login {
    width: 400px;
    background-color: #201f1f;
    box-shadow: 0 0 9px 0 rgba(255, 0, 0, 1);
    margin: 100px auto;
}
.login h1 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid red;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #201f1f;
    color: #ffffff;
    border: 1px solid red;
}
/*Mit (xxxx:hover) werden änderungen am Style vom
jeweiligen Element vorgenommen wenn man mit dem Cursor drüber fährt*/
.login form label:hover {
    background-color: #2e2d2d;
    transition: background-color 0.2s;
}
.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 15px;
    border: 1px solid red;
}
.login form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #201f1f;
    border-top: 1px solid red;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #2e2d2d;
    transition: background-color 0.2s;
}

.navtop {
	background-color: #333131;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: red;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #ba2323;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #bb3d3d;
}
body.loggedin {
	background-color: #201f1f;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid red;
	color: #ba2323;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(255, 0, 0, 2);
    margin: 25px 0;
    padding: 25px;
    color: #ffffff;
	background-color: #201f1f;
}
.content > p table td, .content > div table td {
    padding: 5px;
    color: #ffffff;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #ba2323;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
#mail {
    color: #ffffff;
}
.titel {
    text-align: center;
    font-size: 50px;
    margin: auto;
    color: #ffffff;
    border: 1px solid red;
    border-radius: 1mm;
    box-shadow: 0 0 9px 0 rgba(255, 0, 0, 1);
}



/*REGISTER.HTML & REGISTER.PHP STYLES*/

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #201f1f;
    margin: 0;
}
.register {
    width: 400px;
    background-color: #201f1f;
    box-shadow: 0 0 9px 0 rgba(255, 0, 0, 1);
    margin: 100px auto;
}
.register h1 {
    text-align: center;
    color: #ba2323;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid red;
}
.register form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.register form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #201f1f;
    color: #ffffff;
    border: 1px solid red;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
    width: 310px;
    height: 50px;
    border: 1px solid red;
    margin-bottom: 20px;
    padding: 0 15px;
}
.register form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #201f1f;
    border-top: 1px solid red;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
  background-color: #2e2d2d;
    transition: background-color 0.2s;
}

/*ERROR STYLES*/

.error {
    color: red;
    text-align: center;
    margin-bottom: none;
    padding: 200px;
}

.error > h2 {
    font-size: 3em;
}

.fa fa-exclamation-triangle {
    font-size: 3em;
}

.error-button {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    text-align: center;
}
.error-button:hover {
	background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
	background-color:#ce0100;
}
.error-button:active {
	position:relative;
	top:1px;
}

/* STATUS STYLES */

.tempStatus {
    float: left;
    width: 500px;
    overflow: auto; 
    text-align: center;
}

.humidityStatus {
    float: right;
    width: 500px;
    overflow: auto; 
    text-align: center;
}

.tempStatus table thead tr th {
    column-width: 250px;
}

.tempStatus table tbody tr td {
    column-width: 250px;
}

.humidityStatus table thead tr th {
    column-width: 250px;
}

.humidityStatus table tbody tr td {
    column-width: 250px;
}

.trennStrich {
    color: red;
    font-weight: bold; 
}

